%section.main-container
  %section.main-container--group
    %h3 test-group
    %p members: Chatmember
    %h4 Edit
  %ul
    %li.main-container--message
      .main-container--message--sender
        %h3 YamadaIchiro
        %h4 2019/01/26 09:20:51
      %p テストです。
    %li.main-container--message
      .main-container--message--sender
        %h3 TanakaHanako
        %h4 2019/01/31 12:00:00
      %p なるほど
  %footer
    %input.message-form{:name => "example2", :size => "105", :type => "text", :placeholder => "type a message"}/
    %i.far.fa-image
    %button.send-button{:type => "button"} Send

