%section.left-container
  .left-container--top
    %h3 Chatmember
    .left-container--top--icon
      %a.i.far.fa-edit{:href => "#"}
      %a.i.fas.fa-cog{:href => "#"}
  %ul
    %li.left-container--other
      %h3 Other
      %p ok
    %li.left-container--other
      %h3 Other2
      %p まだメッセージがありません。
