%section.left-container
  .left-container--top
    %h3 Chatmember
    .left-container--top--icon
      = link_to "#", method: :get do
        %i.far.fa-edit
      = link_to "#", method: :get do
        %i.fas.fa-cog
  %ul
    %li.left-container--other
      %h3 Other
      %p ok
    %li.left-container--other
      %h3 Other2
      %p まだメッセージがありません。
