# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c14e7acbe1da5e90b866de8804bd3b13f7a9745da4f1cd565fe04d30acd8cc242c620d182be0831f6d7fdc8cf4c1c10acc2aac4db78d3d819e860ce2fbd19583

test:
  secret_key_base: fe0b55845acb4f4c07b8814596c4c1ed8603ff63ed6ec1fed721bec721f99826a0fdba0b678fc97863e757491189ff3106108a0c09574c09369ebf99d2c02d69

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
