header {
  position: fixed;
  background-color: $mainBlueColor;
  color: #FFFFFF;
  text-align: center;
  height: 25px;
  width: 100%;
}

.left-container {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;

  &--top {
    overflow: hidden;
    background-color: #253141;
    height: 105px;

    h3 {
      padding: 44px 20px 35px 20px;
      font-size: 16px;
      font-weight: bold;
      color: $mainWhiteColor;
      width: 200px;
      float: left;
    }

    .left-container--top--icon {
      float: left;
      margin-top: 44px;
      color: white;
    }

    i {
      display: inline;
      color: white;
      padding-right: 3px;
      text-decoration: none;
    }
  }

  li.left-container--other {
    list-style: none;
    padding: 20px;
    color: $mainWhiteColor;

    .group__name {
      font-size: 15px;
      margin-bottom: 5px;
      color: $mainWhiteColor;
    }

    .group__message {
      font-size: 11px;
      color: $mainWhiteColor;
    }
  }
}

.main-container {
  width: calc(100vw - 300px);
  float: right;

  &--group {
    border-bottom: solid 1px #eeeeee;
    position: relative;

    h3,
    p {
      padding-left: 40px;
    }

    h3 {
      padding-top: 35px;
      padding-bottom: 15px;
      font-size: 20px;
      color: #333333;
    }

    p {
      font-size: 12px;
      color: #999999;
      padding-bottom: 15px;
      display: inline;
    }

    h4 {
      color: $mainBlueColor;
      height: 40px;
      line-height: 40px;
      padding-right: 20px;
      padding-left: 20px;
      right: 40px;
      top: 28px;
      font-size: 14px;
      position: absolute;
      display: inline-block;
      border: solid 2px $mainBlueColor;
    }
  }

  &--name {
    margin-top: 46px;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #434A54;
    float: left;
  }

  &--date {
    font-size: 12px;
    color: #999999;
    float: left;
    margin-top: 49px;
  }

  &--message {
    font-size: 14px;
    color: #434A54;
    clear: both;
    padding: 10px 0 40px 40px;
  }

  .form {
    position: fixed;
    background-color: #DDDDDD;
    width: 100%;
    height: 90px;
    bottom: 0;

    &__message {
      width: 65%;
      margin: 20px 10px 0 30px;
      padding-left: 10px;
      float: left;
      position: relative;
    }

    .form__mask {
      width: 25%;
      height: 40px;
      position: absolute;
      right: 150px;
      top: 32px;
    }

    .form__submit {
      float: left;
      margin-top: 20px;
    }

    .message-form {
      margin: 20px -40px 20px 40px;
      height: 50px;
      padding-left: 10px;
    }



    .hidden {
      display: none;
    }

    button {
      height: 50px;
      margin-right: 40px;
      width: 100px;
      font-size: 16px;
      background-color: $mainBlueColor;
      color: $mainWhiteColor;
    }
  }
}

#message_body {
  height: 45px;
}

.form__submit {
  color: #FFFFFF;
  background-color: #38AEF0;
  width: 7%;
  height: 50px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: 5px;
  position: absolute;
}